* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}

header {
    background: #111;
    color: white;
    position: sticky;
    top: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.logo {
    color: #00ffd5;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

a {
    color: white;
    text-decoration: none;
}

#toggle {
    display: none;
}

.hero {
    height: 90vh;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    margin-top: 20px;
    padding: 10px 25px;
    background: #00ffd5;
    border: none;
    cursor: pointer;
}

.section {
    padding: 60px 20px;
    text-align: center;
}

.gray {
    background: #f4f4f4;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input,
textarea {
    padding: 10px;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Mobile */

@media(max-width:768px) {
    ul {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background: #111;
        flex-direction: column;
        display: none;
    }

    ul.show {
        display: flex;
    }
}