* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    background: #fff;
}

/* ---------------- Header ---------------- */

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}

header {
    background: #111;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.logo {
    color: #00ffd5;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #00ffd5;
}


#toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
}

/* ---------------- Hero ---------------- */

.hero {
    height: 90vh;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
}

.hero p {
    margin-top: 10px;
    font-size: 20px;
}

.btn {
    margin-top: 20px;
    padding: 10px 25px;
    background: #00ffd5;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.8;
}

/* ---------------- Sections ---------------- */

.section {
    padding: 60px 20px;
    text-align: center;
}

.section h2 {
    margin-bottom: 25px;
}

.gray {
    background: #f4f4f4;
}

/* ---------------- Grid Cards ---------------- */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* ---------------- Contact ---------------- */

form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input,
textarea {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    min-height: 100px;
}

/* ---------------- Footer ---------------- */

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}

/* ================= MOBILE ================= */

@media(max-width:768px) {
    ul {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background: #111;
        flex-direction: column;
        display: none;
        padding: 20px 0;
        text-align: center;
    }

    ul.show {
        display: flex;
    }

    ul li {
        padding: 12px 0;
    }

    #toggle {
        display: block;
    }

    .hero h1 {
        font-size: 34px;
    }
}